<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/cards.css" /> 
    <title>Products</title>
  </head>
  <body>
    {% comment %} navbar   {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NeuKart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
              <a class="nav-link" href={% url 'HomePage' %}>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}" >
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
              <a class="nav-link" href={% url 'prod' %}>Products</a>
            </li>            
          </ul>
        <form method="get">
            <input type="text" name="servicename" value="" />
            <input type="submit" value="Search" />
        </form>
        <form method="get" action="/search"class="form-inline my-2 my-lg-0 mx-3">
          <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a>
        </form>
    </nav>    
    
        </ul>
      </div>       


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    
    {% comment %} cards {% endcomment %}
    <div class="card-deck">
      <form action= {% url 'offer' %} method='post'>
        {% csrf_token %}

        <div class="card">
          <img style="height:5cm;width:5cm" class="card-img-top" src="/static/img/phone.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tecno Spark 8C Turquoise Cyan (3GB+64GB)</h5>
            <h6></h6>
            <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">Up to ₹3,500 off
            </p>
            <p class="card-text">Tecno Spark 8C, 6GB Expandable RAM, 64GB Big Storage, 90Hz Refresh Rate</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
        </div>  
        </div>
        </div>
        <div class="card">
          <img style="height:5cm;width:5cm" class="card-img-top" src="/static/img/laptop.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ASUS TUF Gaming F15 Laptop</h5>
            <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">DEAL OF THE DAY
            </p>
            <p class="card-text">ASUS TUF Gaming F15 Laptop 15.6" (39.62 cms) FHD 144Hz, Intel Core i5-10300H 10th Gen, GeForce GTX 1650 4GB GDDR6 Graphics (8GB RAM/512GB NVMe SSD/Windows 10/Fortress Gray/2.30 Kg), FX566LH-HN257T</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img style="height:5cm;width:5cm" class="card-img-top" src="/static/img/grinder.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">iBell IBLWHITES03NEW</h5>
            <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">DEAL OF THE DAY
            </p>
            <p class="card-text">iBELL IBLWHITES03NEW Whites Electric Hand Mixer, Blender, Beater and Cream Maker with 7 Speed Control, 2 Dough Hooks and 2 Beaters(White)</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      {% comment %} end o f card div {% endcomment %}
  </body>
</html>