<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/cards.css" /> 
    <title>Products</title>
  </head>
  <body>
    {% comment %} navbar   {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NeuKart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
              <a class="nav-link" href={% url 'HomePage' %}>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}" >
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
              <a class="nav-link" href={% url 'prod' %}>Products</a>
            </li>            
          </ul>
        <form method="get">
            <input type="text" name="servicename" value="" />
            <input type="submit" value="Search" />
        </form>
        <form method="get" action="/search"class="form-inline my-2 my-lg-0 mx-3">
          <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a>
        </form>
    </nav>    
    
        </ul>
      </div>       


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    
    <h2>Get your product featured today</h2>
    <button style="margin-left:50px" type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#sellModal">
        Sell it today
        </button>

    {% comment %} sell modal {% endcomment %}
     <!-- SellUp Modal -->
  <div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sellModalTitle">Sell Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action= {% url 'sellsave' %} method='post'>
          {% csrf_token %}

    <div class="form-group">
      <label for="Name">Name</label>
      <input type="text" class="form-control" id="Name" name="Name" placeholder="Name of the product">
    </div>
    <div class="form-group">
        <label for="point">Credit</label>
        <input type="Interger" class="form-control" id="point" name="point" placeholder="Enter credit for the featued product">
      </div>
    <div class="form-group">
        <label for="Seller">Seller Name</label>
        <input type="text" class="form-control" id="sellername" name="sellername" placeholder="Name of the Seller">
      </div>
    <div class="form-group">
      <label for="category">category</label>
      <input type="text" class="form-control" id="category" name="category" placeholder="Enter your product category" ,Required>
    </div>
    <div class="form-group">
      <label for="subcategory">subcategory</label>
      <input type="text" class="form-control" id="subcategory" name="subcategory" placeholder="Enter Your product subcategory",Required>
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <input type="number" class="form-control" id="price" name="price" placeholder="enter your product price",Required>
    </div>
    <div class="form-group">
      <label for="pass1">Description</label>
      <input type="Description" class="form-control" id="Description" name="Description" placeholder="Describe your product",Required>
    </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
 
    {% comment %} end of sell modal {% endcomment %}
</body>
</html>