<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>your analyzed text - {{ purpose }}</h1>
<p>
    {{ analyzed_text }}
</p>
</body>
</html>