<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome</title>
</head>
<body>
<h1>Please provide us your valauble comment,it help us in growuing</h1>
<form action="{% url 'links' %}" method="post">
    {% csrf_token %}

    <textarea name="text", style="margin:0px; width:721px, height: 93px"></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations <br>
    <input type="checkbox" name="Capitallet"> Capitalise All Letter <br>
    <input type="checkbox" name="removeline"> Remove New Line <br>
    <input type="checkbox" name="removespace"> Remove Extra Space <br>
    <input type="checkbox" name="charactercount"> Character Count <br>
    <button type="Submit">Analyze the comment</button>
</form>
</body>
</html>