<html>
 <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title></title>
 </head>
 <body>
    <div class="container py-5">
        <h1>Login</h1>
        <form method="POST">
          {% csrf_token %}
          {{ login_form}}
          <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p class="text-center">Don't have an account? <a href={% url 'register' %}>Create an account</a>.</p>
      </div>
 </body>
 </html>