
  <!doctype html>
  <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/static/css/cards.css" /> 
    
      <title>NeuKart-Kuch bhi khareedo,Kuch bhi becho</title>
    </head>
    <body>
  
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">NeuKart</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
                <li class="nav-item" >
                  <a class="nav-link" href="/about">Notification</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href={% url 'Featuredgallery' %}>Products</a>
                </li>            
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}" >
                <a class="nav-link" href="/about">About Us</a>
              </li>

            </ul>
            
          <form method="get" action="/search"class="form-inline my-2 my-lg-0 mx-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
            <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a>
          </form>
  
                 <!-- Button to  trigger SignUp modal -->
                 
                  {% if user.is_authenticated %}
                  {% if user.is_superuser %}
                  <ul class="navbar-nav mr-2">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href={% url 'viewCategory' %}>status</a>
                      <a class="dropdown-item" href={% url 'Approval' %}>approval</a>
                      <a class="dropdown-item" href="/logout">Logout</a>
            
                    </div>
                    </li>
                    </ul>
                    {% else %}   
                 <ul class="navbar-nav mr-2">
                 <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown"> Welcome {{request.user}}</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/order">{{CreditRequest}}</a>
                   <a class="dropdown-item" href={% url 'Creditprofile' %}>Credit Available</a>
                   <a class="dropdown-item" href={% url 'CreditRequest' %}>Credit</a>  
                   <a class="dropdown-item" href={% url 'featuredProduct' %}>Sell</a>
                   <a class="dropdown-item" href={% url 'viewoffer' %}>Offer accepted</a>
                   <a class="dropdown-item" href="/logout">Logout</a>
         
                 </div>
                 </li>
                 </ul>
                 </div>
                 {% endif %}  
                 {% else %}
                 <!-- Button to  trigger Login modal -->
                 <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
                 Login
                 </button>
         
                 <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
                 SignUp
                 </button>
                 
                 {% endif %}     
  
          </div>
        </nav>
        {% for message in messages  %}            
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <strong>Message : </strong> {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}     
   
  
  <!-- SignUp Modal -->
  <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action= "/signup" method='post'>
          {% csrf_token %} 
          {% comment %} <form href="/">
          <button type="button" class="btn btn-primary">Buyer</button>
          <button type="button" class="btn btn-secondary">Seller</button>
          </form>   {% endcomment %}
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username" ,Required>
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name",Required>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com",Required>
    </div>
    <div class="form-group">
      <label for="pass1">Choose a password</label>
      <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Choose Your Password",Required>
    </div>
    <div class="form-group">
      <label for="pass2">Confirm Password</label>
      <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Enter your password again",Required>
    </div>
   
  
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
  </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Login Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/login" method="POST"> {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter your username "required>
      </div>
      <div class="form-group">
        <label for="pass">Enter your password </label>
        <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter your password "required>
      </div>
     
            <button type="submit" class="btn btn-primary">Submit</button>
            
    </form>
          </div>
           <div class="modal-footer">
          </div>
          
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        </div>
      </div>
    </div>
  {% comment %} slider {% endcomment %}
  <div id="demo" class="carousel slide" >

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
  
  </div> 
  <div style="margin:20px";id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div style="height:20cm;width:40cm" class="carousel-inner">
      <div class="carousel-item active">
        <div>
        <a id-'deal' href={% url 'Offer' %}><h2>Best deal just for today</h2></a>
        <img src="/static/img/Deal.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/img/iPhonead1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/img/earphonead.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  {% comment %} featured {% endcomment %}
  
  {% comment %} cards   {% endcomment %}
  <div style="margin-top:20px" class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the first card</p>
      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the second card</p>
      </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the third card</p>
      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="card-text">Some text inside the fourth card</p>
      </div>
    </div>
  </div>
  <!-- Media top -->
<h1 style="margin-top:20px;padding:10px">Dont Believ us?See what our customer say about us</h1>  
<div class="row d-flex justify-content-center mt-100 mb-100">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body text-center">
              <h4 class="card-title">Latest Comments</h4>
          </div>
          <div class="comment-widgets">
              <!-- Comment Row -->
              <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2"><img src="https://i.imgur.com/Ur43esv.jpg" alt="user" width="50" class="rounded-circle"></div>
                  <div class="comment-text w-100">
                      <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">This is awesome website. I would love to comeback again. </span>
                      <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                  </div>
              </div> <!-- Comment Row -->
              <div class="d-flex flex-row comment-row">
                  <div class="p-2"><img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" width="50" class="rounded-circle"></div>
                  <div class="comment-text active w-100">
                      <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">Thanks bbbootstrap.com for providing such useful snippets. </span>
                      <div class="comment-footer"> <span class="text-muted float-right">May 10, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                  </div>
              </div> <!-- Comment Row -->
              <div class="d-flex flex-row comment-row">
                  <div class="p-2"><img src="https://i.imgur.com/J6l19aF.jpg" alt="user" width="50" class="rounded-circle"></div>
                  <div class="comment-text w-100">
                      <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">Great industry leaders are not the real heroes of stock market. </span>
                      <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                  </div>
              </div>
          </div> <!-- Card -->
      </div>
  </div>
</div>

  </body>
  </html>