<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/cards.css" /> 
    <title>Products</title>
  </head>
  <body>
    {% comment %} navbar   {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NeuKart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
              <a class="nav-link" href={% url 'HomePage' %}>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}" >
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
              <a class="nav-link" href={% url 'prod' %}>Products</a>
            </li>            
          </ul>
        <form method="get">
            <input type="text" name="servicename" value="" />
            <input type="submit" value="Search" />
        </form>
        <form method="get" action="/search"class="form-inline my-2 my-lg-0 mx-3">
          <a href="/admin" role="button" target="_blank" class="btn btn-outline-success m-2 my-sm-0"> Admin Panel </a>
        </form>
    </nav>    
    <!-- Optional JavaScript; choose one of the two! -->
    
        {% comment %} products   {% endcomment %}
        <div>
        <ul class="cards">
          {% for n in ServiceData %}  
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">{{n.product}}</h3> 
                    <h6 class="category">{{n.category}}</h6>
                    <h6 class="card_subcategory">{{n.subcategory}}</h6> 
                    <h6 class="seller">{{n.seller}}</h6>           
                  </div>
                </div>
                <p class="card__description">{{n.description}} </p>
                <p style="margin:.8em">{{n.price}}$</p>
                <button type="submit" href="#">Buy Now</button>
                <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#offerModal">
                  Ask for offer today
                  </button>
              </div>
            </a>      
          </li>
          {% endfor %}
          {% comment %} buy now  {% endcomment %}

          <div class="main">
            <!-- Create a Form -->
            <form method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                Are you want to delete this item ?
                <input type="submit" value="Yes" />
                <a href="/">Cancel </a>
            </form>
        </div>

          {% comment %} end for buy now {% endcomment %}
          {% comment %} offer {% endcomment %}

          <div class="modal fade" id="offerModal" tabindex="-1" aria-labelledby="offerModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="offerModalTitle">SignUp Here</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action= {% url 'offer' %} method='post'>
                  {% csrf_token %} 
                  {% comment %} <form href="/">
                  <button type="button" class="btn btn-primary">Buyer</button>
                  <button type="button" class="btn btn-secondary">Seller</button>
                  </form>   {% endcomment %}
            <div class="form-group">
              <label for="price">price</label>
              <input type="Integer" class="form-control" id="price" name="price" placeholder="Enter Your Offer price">
            </div>
                     
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Make an offer today</button>
          </form>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        

          {% comment %} end of offer {% endcomment %}
          {% comment %} <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Iphone x</h3> 
                    <h6 class="category">Mobile</h6>
                    <h6 class="card_subcategory">electronics</h6>            
                    <h6 class="seller">Naveen</h6>         
                </div>
                </div>
                <p class="card__description">Iphone the best phone you can gift yourself</p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>  
                    <h6 class="seller">Megha</h6>                   
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>    
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>  
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>
          <li>
            <a href="" class="card">
              <img src="/static/img/boat.png" class="card__image" alt="" />
              <div class="card__overlay">
                <div class="card__header">
                  <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>                     
                  <div class="card__header-text">
                    <h3 class="card__title">Boat earphone</h3> 
                    <h6 class="category">earphone</h6>
                    <h6 class="card_subcategory">electronics</h6>
                    <h6 class="seller">Megha</h6>                     
                  </div>
                </div>
                <p class="card__description">boAt Bass Heads 225 polished metal earphones are designed to give you an experience that no other brand can match. It has an incredible sonic clarity with "super extra bass". </p>
                <p style="margin:.8em">29$</p>
                <button type="submit" href="#">Contact for enquiry</button>
              </div>
            </a>      
          </li>    {% endcomment %}
        </ul>
      </div>       


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>