# authentication/templates/authentication/signup.html
{% extends 'base.html' %}
{% block content %}
    <h2>Sign Up</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" >Submit</button>
    </form>
{% endblock content %}